/* CUSTOM COLORS */
:root{
    --first_color : #0084fd ;
    --first_color_gradient_2 : #b5ddff ;
    --second_color : #9792e4 ;
    --third_color : #333333 ;
    --fourth_color : #fdc15f;
    --p_color_grey : #607688 ;
}