
/* CSS FILES */
@import url(reset.css);
@import url(comun.css);
@import url(colors.css);

/* //////////HEADER////////// */

/* STRUCTURE */
#header_section{
    width: 100vw;
}

.nav_layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big_nav{
    display: none;
}

#nav_logo, .big_nav{
    padding-top: .9375rem;
    padding-bottom: .9375rem
}

.features_card{
    width: 100%;
    padding:.9375rem;
    margin-bottom: .9375rem;
    text-align: center;
}

.features_card *{
     padding-top: .625rem;
     padding-bottom: .625rem;
}

.features_card:nth-child(1) p{
    text-align: left;
}

.header_features_slot .features_card:nth-child(1) {
    padding-bottom: 0;
}

.header_features_slot .card_img , .card_img *{
    padding: 0;
}

.card_img > img{
    width: 100%;
    display: block;
}

.card_logo{
    padding: .3125rem;
}

/* STYLE */
.nav_background_color{
    background-color: var(--first_color);
}

.big_nav .medium_button {
    background-color: white;
    line-height: 1.0625rem;
}

.big_nav .medium_button a{
    color: var(--first_color);
}

.small_nav i{
    color: white;
}

.features_card{
    background-color: var(--first_color_gradient_2);
}

.features_card {
    border-radius: 1.5625rem
}

.features_card_info .medium_button{
    background-color: var(--first_color);
}

.features_card_info .medium_button *{
    color: white;
}

header p {
    font-weight:900;
}

header .card_logo i{
    font-size: 7em;
    line-height: 1em;
    color: var(--first_color);
}

header .features_card h2{
    color: var(--first_color);
}

/* //////////MAIN////////// */

/* STRUCTURE */

.strategic_planning_card_info{
    padding-bottom: .9375rem;
    padding-top: .9375rem;
}

.development_card_text{
    text-align: center;
}

.development_card{
    padding: .9375rem;
}

.strategic_planning_card_img img , .development_card_img img{
    width: 100%;
}

.expert_info{
    text-align: center;
}

.expert_card{
    width: 100%;
    padding:.9375rem;
    margin-bottom: .9375rem;
}

.expert_card_info{
    text-align: center;
}

.expert_card_info p i {
    line-height: .875rem;
    vertical-align: text-top;
}
    
.expert_card_img  {
     width:12.5rem;
     height:12.5rem;
     margin: auto;
}

.expert_card_img > img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.with_us_title{
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    text-align: center;
}

.with_us_card{
    width: 100%;
    padding:.9375rem;
    margin-bottom: .9375rem;
}

.about_us_card_img{
    width:12.5rem;
    height:12.5rem;
    position: relative;
}

.about_us_card_img img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.about_us_card_img i{
    position: absolute;
    top: 1.25rem;
    right: 0;
    font-size: 4em;
    color: var(--second_color);
}

.about_us_article{
    padding-top: .9375rem;
    padding-bottom: .9375rem;
}

.about_us_card{
    padding-top: .9375rem;
    padding-bottom: .9375rem;
}

.get_started_card{
    padding: 3.125rem;
    text-align: center;
}

.get_started_card span{
    display: block;
}

.get_started_card span i {
    line-height: 1.375rem;
    vertical-align: middle;
}

/* STYLE */

.main_background_color{
    background-color: var(--second_color);
}

.strategic_planning_card_info{
    color: white;
}

.development_card{
    background-color: white;
    border-radius: 1.5625rem;
}

 .development_card .circular_button{
    background-color: var(--second_color);
}

.expert_card_img  > img{
    border-radius: 100%;
}

.expert_info h2 {
    color: var(--second_color);
}

.expert_card_info{
    color: white;
}

.expert_info h4 {
    font-weight: 200;
    font-size: .875rem;
}

.expert_info p, .equal_cards_text p {
    color: var(--p_color_grey);
}

.expert_card{
    background-color:var(--second_color);
    border-radius: 1.5625rem;
}

.with_us_title{
    color: white;
}

.with_us_card{
    background-color: white;
    border-radius: 1.5625rem;
}

.with_us_card .medium_button {
    background-color: var(--second_color);
}

.with_us_card .medium_button a{
    color: white;

}

.with_us_card h2 , .with_us_card h4{
    color: var(--second_color);
}

.about_us_card .medium_button {
    background-color:var(--second_color);
}

.about_us_card_img i{
    font-size: 4em;
    color: var(--second_color);
}

.about_us_card_img img {
    border-radius: 100%;
}

.about_us_card .medium_button i , .about_us_card .medium_button a{
    color: white;
}

.about_us_card p{
    font-weight: 600;
    line-height:  2.5rem;;
}

.about_us_article h2{
    color: var(--second_color);
}

.about_us_card p {
    color: var(--second_color);
    font-weight: 700;
}

.get_started_card {
    color: white;
}

.get_started_card .big_button {
    background-color: white;
}

.get_started_card .big_button a {
    color: var(--second_color);
}

.get_started_card h5 {
    color:rgba(255, 255, 255, 0.475);
    font-weight: 300;
}
   
.get_started_card h2 {
    color:  var( --fourth_color);
}

.get_started_card span a {
    color: white;
}

.get_started_card span i {
    font-size: .3125rem;
}

/* //////////FOOTER////////// */

/* STRUCTURE */
.footer_card {
    padding: 3.125rem;
    text-align: center;
}

.footer_card p {
    margin-bottom: 3.125rem;
}

/* STYLE */
.footer_background_color{
    background-color: var(--third_color) ;
}

footer * {
    color: white;
}

.footer_card  a {
    color: var(--second_color) ;
}

/* //////////RESPONSIVE////////// */

/* Tablet -> da 768px in poi */
@media screen  and (min-width: 768px){

    /* COMUN */
    .negative_margin_container {
        margin-inline: -1.25rem;
    }

    .row_layout{
        display: flex;
        flex-wrap: wrap;
    }

    .features_card:nth-child(1){
        width: calc(((100% / 3) * 2 - 2.5rem) );
    }

    .features_card{
        width: calc((100% / 3) - 2.5rem);
        margin-inline: 20px;
    }

    /* HEADER */

     header .features_card:nth-child(1){
        text-align: left;
    }

     .card_img{
        width: 50%;
    }

    /* MAIN */
    .expert_card_img{
        margin-right: 1.25rem;
    }

    .expert_card_img {
        flex-basis: 12.5rem;
        margin-left: 0;
    } 

    .expert_card_info{
        width: calc(100% - 15rem);
        margin-left: 1.25rem;
        text-align: left;
        align-self: center;
    }
    
    .with_us_card{
        width: calc(50% - 2.5rem);
        margin: 20px;
    }

    .about_us_article{
        width: calc(60% - 1.25rem);
        margin-right: 1.25rem;
    }

    .about_us_card{
        width: calc(40% - 1.25rem);
        margin-left: 1.25rem;
    }

    .get_started_card{
        padding: 6.25rem;
    }

    
    /* MAIN STYLE */
    
    /* FOOTER */
    .footer_card {
        padding: 6.25rem;
    }
}

/* Desktop -> da 992px in poi */
@media screen  and (min-width: 992px){

    /* COMUN */
    .width_container{
        width: 65%;
    }

    .features_card:nth-child(1){
        display: flex;
    }

    /* HEADER */
    .small_nav {
        display: none;
    }

    .big_nav{
        display: inline-block;
    }

    .big_nav *{
        display: inline-block;
        padding-inline: .3125rem;
    }

     header .features_card:nth-child(1) .features_card_info{
        width: 50%;
    }

     header .card_img{
        align-self: flex-end;
    }

    /* HEADER_STYLE */
    .big_nav a{
        color: white;
        text-decoration: none;
        font-size: .8125rem;
    }

    /* MAIN */
    .strategic_planning_card_info{
        width:calc(50% - 1.25rem);
        margin-right: 1.25rem;
    }
    
    .development_card{
        width:calc(50% - 1.25rem);
        margin-left: 1.25rem;
    }
    
    .with_us_card{
        width: calc((100% / 3) - 2.5rem);
        margin: 1.25rem;
    }
    
}   
